


.header{
    height: var(--header-height);
    background-color: var(--background);     border-bottom: 1px solid var(--gray-border);
}


.content{
    display: grid;
    flex-direction: column;
    align-items: center; /* Centra las cards horizontalmente */
    justify-content: center; /* Centra las cards verticalmente */
    /* min-height: 100vh; */

    gap: 18px;
    padding: 2em;
}

