<div class="container">
    <div class="tasklist">
        <div class="tasklist-title">
            Task list
        </div>    
        <div class="task-list">
            @for(task of tasks; track task.id) {
                <div [class.selected]="task.id === selectedTask.id" class="task-element" (click)="selectTask(task)">
                    <div>
                        {{ task.label }} &nbsp; ({{ task.length }})  
                        {{ task.description }}  
                    </div> 
                    <div>
                        {{ getPredecessorLabels(task) }}  
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="taskdetail">
        <div class="taskdetail-title">
            Task detail
        </div>
        <div class="task-detail">
            <div class="input-group">
                <input id="taskLabel" type="text" [(ngModel)]="taskLabel" autocomplete="off" required>
                <label for="">Label</label>
            </div>
            <div class="input-group">
                <input id="taskDescription" type="text" [(ngModel)]="selectedTask.description" autocomplete="off" required>
                <label for="">Description</label>
            </div>
            <div class="input-group">
                <input id="taskLength" type="number" [(ngModel)]="selectedTask.length" autocomplete="off" step="any" required>
                <label for="">Length</label>
            </div>
            <div class="input-group">
                <input id="taskPredecessors" type="text" [(ngModel)]="taskPredecessors" autocomplete="off" required>
                <label for="">Predecessors</label>
            </div>
            <div class="button-bar">
                <div class="action-button" (click)="clear()" title="Clear fields to start a new task"><p>Clear</p></div>
                <div class="action-button" (click)="save()" title="Save task"><p>Save</p></div><!--<div class = "action-button-content">Save</div></div>-->
            </div>
        </div>
    </div>
</div>