.container {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #0d0d0d;
    outline: none;
    border-radius: 8px;
}

.input-group {
    margin: 20px 0;
    position:relative;
}

.input-group label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    color: rgb(218,223,223);
    padding: 0 5px;
    transition: .5s;
}

.input-group input {
    width: 200px;
    height: 40px;
    color:#b019d6;
    font-size: 16px;
    padding: 0 15px;
    border:1.2px solid rgb(220,223,223);
    background: transparent;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    background: #0d0d0d;
    font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* .custom-input:-webkit-autofill,
.custom-input:-webkit-autofill:hover,
.custom-input:-webkit-autofill:focus,
.custom-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
} */

input[type=number] { -moz-appearance:textfield; }

