.container {
    /* flex-grow: 1;
    flex-shrink: 1;
    min-width: 450px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "tasklist-title",
                         "tasklist",
                         "taskdetail-title",
                         "taskdetail"; */
    /* min-height: 100vh; */
    justify-content: start;
    /* align-items: flex-start; */
    background: #0d0d0d;
    outline: none;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
}

.tasklist-title {
    /* grid-area: "tasklist-title"; */
    color: white;
}

.tasklist {
    padding: 5px 0 5px 0;
    overflow: hidden;
}

.task-list {
    /* grid-area: "tasklist"; */
    border: 1px solid var(--background);
    border-radius: 8px;
    width: 100%;
    height: 170px;
    overflow-y: auto;
    box-sizing: border-box;
}

.task-list li {
    list-style-type: none;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid var(--gray-border);
    color: white;
    background-color: #1a1a1a;
}

.task-element {
    padding-left: 5px;
    padding-right: 5px;
    color: #b019d6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.selected {
    background-color: var(--task-selected);
    color: white;
}

.task-list::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.task-list::-webkit-scrollbar-track {
    background: var(--secondary-color);
    /* color of the tracking area */
}

.task-list::-webkit-scrollbar-thumb {
    background-color: var(--background);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--secondary-color);
    /* creates padding around scroll thumb */
}

.taskdetail-title {
    /* grid-area: "taskdetail-title"; */
    color: white;
}

.taskdetail {
    width: 100%;
    height: auto;
}

.task-detail {
    width: 100%;
    height: auto;
    /* grid-area: "taskdetail"; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding-left:10px; */
}

.action-button {
    margin-top: 5px;
    width: 80px;
    height: 35px;
    color: rgb(148, 148, 148);
    /* border: 1px solid white; */
    /* padding-top: 6px; */
    border-radius: 6px;
    background: #252525;
    position: relative;

    display:flex;
    justify-content: center;
    align-items: center; 

    overflow: hidden; 
    padding: 2px;
    transition: all 0.3s ease;
}

/* .action-button-content {
    width:100%;
    height:100%;
    border-radius: 6px;
    background-color: #252525;
    color:rgb(148, 148, 148);
    text-align: center; 
    padding-top:2px;
    z-index: 3;
}  */

.action-button:hover {
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    background-color: #440f8a; 
    animation: glowAnimation 3s infinite;
    /* box-shadow: 0 0 15px rgba(47, 33, 126, 0.7), 
                0 0 30px rgba(47, 33, 126, 0.4), 
                0 0 60px rgba(47, 33, 126, 0.3); */
}

.button-bar {
    width: 200px;
    display: flex;
    justify-content: space-between;
    background: #0d0d0d;
}

.input-group {
    width: 200px;
    margin: 5px 0;
    position: relative;
}

.input-group label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    color: rgb(218, 223, 223);
    padding: 0 5px;
    transition: .5s;
}

.input-group input {
    width: 200px;
    height: 40px;
    color: #b019d6;
    font-size: 16px;
    padding: 0 15px;
    border: 1.2px solid rgb(220, 223, 223);
    background: transparent;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    background: #0d0d0d;
    font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* .custom-input:-webkit-autofill,
.custom-input:-webkit-autofill:hover,
.custom-input:-webkit-autofill:focus,
.custom-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
} */

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/*
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.action-button::after, .action-button::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 6px;
    animation: 3s spin linear infinite;
}

.action-button::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
} */

@keyframes glowAnimation {
    0% {
        box-shadow: 0 0 15px rgba(47, 33, 126, 0.5);
    }
    25% {
        box-shadow: 0 0 25px rgba(47, 33, 126, 0.7);
    }
    50% {
        box-shadow: 0 0 40px rgba(47, 33, 126, 0.9);
    }
    75% {
        box-shadow: 0 0 25px rgba(47, 33, 126, 0.7);
    }
    100% {
        box-shadow: 0 0 15px rgba(47, 33, 126, 0.5);
    }
}