.container {
    /* flex-grow: 1;
    flex-shrink: 1;
    min-width: 450px; */
    width:100%;
    display:flex;
    flex-direction: column;
	/* display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "tasklist-title",
                         "tasklist",
                         "taskdetail-title",
                         "taskdetail"; */
	/* min-height: 100vh; */
	justify-content: start;
	/* align-items: flex-start; */
	background: #0d0d0d;
    outline: none;
    border-radius: 8px;
    padding: 10px;
    gap:10px;
}

.tasklist-title {
    /* grid-area: "tasklist-title"; */
    color:white;
}

/* .tasklist {
 
} */

.task-list {
    /* grid-area: "tasklist"; */
    border:1px solid var(--gray-border);
    border-radius: 8px;
    width:100%;
    height: 200px;
}

.taskdetail-title {
    /* grid-area: "taskdetail-title"; */
    color:white;
}

.taskdetail {
    width:100%;
    height:auto;
}

.task-detail {
    width:100%;
    height:auto;
    /* grid-area: "taskdetail"; */
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: flex-start;
    /* padding-left:10px; */
}

.save-button {
    margin-top: 5px;
    width:80px;
    height:35px;
    color:rgb(148, 148, 148);
    border: 1px solid white;
    border-radius: 6px;
    background-color: #252525;
}

.save-button:hover {
    cursor: pointer;
    color:white;
    background-color: #525151;
}

.input-group {
    margin: 5px 0;
    position:relative;
}

.input-group label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    color: rgb(218,223,223);
    padding: 0 5px;
    transition: .5s;
}

.input-group input {
    width: 200px;
    height: 40px;
    color:#b019d6;
    font-size: 16px;
    padding: 0 15px;
    border:1.2px solid rgb(220,223,223);
    background: transparent;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    background: #0d0d0d;
    font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* .custom-input:-webkit-autofill,
.custom-input:-webkit-autofill:hover,
.custom-input:-webkit-autofill:focus,
.custom-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
} */

input[type=number] { 
    appearance: textfield;
    -moz-appearance:textfield; 
}

