<nav class="navbar">
    <h1 class="logo">ProPert</h1>
    <label class="lbl_hamburguer" for="hamburguer-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="menu_icon"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
    </label>
    <input class="hamburguer-menu" type="checkbox" id="hamburguer-menu">
    <ul class="menu_list">
        <li class="menu_item">
            <a class="link" href="#">Home</a>
        </li>
        <li class="menu_item">
            <a class="link" href="#">Examples</a>
        </li>
        <li class="menu_item">
            <a class="link" href="#">Resources</a>
        </li>
    </ul>
</nav>