
a{
    text-decoration: none;
}

ol, ul{
    list-style: none;
}

.navbar{
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding-left-right);
    z-index: 2;
}

.burguer-menu{
    display: none;
}

/* Cuando el checkbox esté checked -> A su hermano adyacente cambiar la propiedad height*/
.burguer-menu:checked + .menu_list{
    height: calc(100vh - var(--header-height));
}

.logo{
    color: var(--white-color);
}

.lbl_burguer{

}

.menu_icon{
    color: var(--white-color);
    cursor: pointer;
}

/* ul_links*/
.menu_list{
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    left:0;  
    top: var(--header-height);
    width: 100%;
    height: 0;

    background-color: var(--background); 
    overflow: hidden;
    
    align-items: center;
    gap: 3rem;

    transition: all .3s;
    
}

/* li_links*/
.menu_item{

}

.link{
    color: var(--almost-white-color);
    font-size: 2.5rem;
}

.link:hover{
    color: var(--link-hover-color);
}

@media(min-width: 768px){
    .lbl_burguer{
        display: none;
    }
    .menu_list{
        position: static;
        display: flex;
        flex-direction: row;

        width: auto;
        height: auto;
       
        gap: 2 rem;
    }

    .link{
        font-size: 1rem;
        transition: all .3s;
        padding: .2rem .7rem;
    }
    
}