/* You can add global styles to this file, and also import other style files */

:root{
    --background: #1C1C1C;
    --primary-color:#3782b4;
    --secondary-color: #5e5e5e;
    --almost-white-color: #C4C4C4;
    --white-color: #fff;
    --link-hover-color:var(--white-color);
    --header-height: 80px;
    --padding-left-right: 2em;
    --max-width: 1200px;
    --gray-border: #3E3E3E;
    --task-selected: #272727;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #202020;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    width:100%;
    min-height: 100vh;
}

app-task-editor {
    display:flex;
}

app-pertchart {
    display:flex;
}