
<div class="vis-container">

    <button class="lock-button" (click)="onLockButtonClick()">
        <img src="assets/images/pin.png" alt="" width="40px" height="40px"/>
    </button> 
    <!-- El div que actúa como contenedor del grafo -->
    <div *ngIf="error === ''; else errorTemplate" id="network" class="chart" >
        <!-- Contenido del gráfico -->
               
    </div>
      
    <ng-template #errorTemplate>
        <!-- Contenido del error -->
        <div class="error">
            <img src="assets/images/loop.png" width="100px" height="auto" alt="Error" />
            <div class="errorMessage">
                <strong>{{ error }}</strong>
            </div>
        </div>
    </ng-template>
    
    	
</div>